# <center>**UTS Machine Learning**
### Karimah Azzuhdu T.M. (140810170027)

Deskripsi : <br>
Prediksi Survive/Death pada Insiden Titanic dengan menggunakan Artificial Neural Network (ANN) sederhana.<br>
Data diambil dari kompetisi Titanic yang sudah melalui Preprocessing.
<br> Penjelasan Proses Data Preprocessing yang dilakukan terdapat di NotebookPreprocessing.ipynb
<br>
Link Sumber Data : [Competition Kaggle - Titanic : Machine Learning from Disaster ](https://www.kaggle.com/c/titanic)

(Jangan lupa ini udah update)

### Import Tools

In [2]:
#import tools/library pendukung

#untuk manipulasi data dan perhitungan matematis
import pandas as pd
import numpy as np

#untuk visualisasi data
import matplotlib.pyplot as plt
import seaborn as sns

#untuk Data Preprocessing tambahan
from sklearn.model_selection import train_test_split

#Menghapus Warning yang tidak penting, untuk merapikan presentasi
import warnings
warnings.filterwarnings("ignore")

# Peek the Data

**Dataset Asli**

In [16]:
titanic_asli = pd.read_csv('train.csv')
titanic_asli.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [17]:
titanic_asli.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [18]:
titanic_asli.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

**Dataset hasil Preprocessing**

In [19]:
titanic = pd.read_csv('titanic_prep.csv')
titanic.head()

   Survived  Pclass  Sex  Fsize  AgeBin_Code  FareBin_Code
0         0       3    0      2            1             0
1         1       1    1      2            3             4
2         1       3    1      1            1             1
3         1       1    1      2            3             4
4         0       3    0      1            3             1

In [20]:
titanic.describe()

,Survived,Pclass,Sex,Fsize,AgeBin_Code,FareBin_Code
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,0.383838,2.308642,0.352413,1.904602,1.953984,1.988777
std,0.486592,0.836071,0.477990,1.613459,1.407489,1.415757
min,0.000000,1.000000,0.000000,1.000000,0.000000,0.000000
25%,0.000000,2.000000,0.000000,1.000000,1.000000,1.000000
50%,0.000000,3.000000,0.000000,1.000000,2.000000,2.000000
75%,1.000000,3.000000,1.000000,2.000000,3.000000,3.000000
max,1.000000,3.000000,1.000000,11.000000,4.000000,4.000000

**Informasi Dataset hasil Preprocessing**
<br>
Feature :

* Pclass : Menunjukan socio-economic status (SES) (1=Upper, 2=Middle, 3=Lower)
* Sex : Jenis Kelamin (0=male, 1=female)
* Fsize : Jumlah Keluarga yang berangkat bersama (1=sendiri, dst)
* AgeBin_Code : Pengelompokan Usia [0,20,26,30,38,80]
* FareBin_Code : Pengelompokan Jumlah Pengeluaran diatas kapal Titanic [0,8,11,22,40,512]

Target : 
* Survived (0=Death, 1=Survived)

### Feature dan Target
Memisahkan dataframe titanic menjadi 2 dataframe baru. Kemudian dipisah lagi untuk Training dan Test

In [60]:
#Pisah feature dan target
features = titanic.drop('Survived', axis=1)
target = titanic[['Survived']]

#Split
X_train,X_test,y_train,y_test = train_test_split(features,target,test_size=0.2)

X_train = X_train.reset_index(drop=True)
X_test = X_test.reset_index(drop=True)
y_train = y_train.reset_index(drop=True)
y_test = y_test.reset_index(drop=True)

# Build Model

## **ANN - Single Layer Perceptron**
<br>

![Imgur](https://www.analyticsvidhya.com/wp-content/uploads/2016/07/SLP.png)


**Output = (Weight1 x Input1) + (Weight2 x Input2) + ... + (WeightN x InputN) + Bias**

### Membuat bobot awal

In [22]:
import random

random.seed(17)
bobot = [random.random()] * 5
bobot

[0.5219839097124932,
 0.5219839097124932,
 0.5219839097124932,
 0.5219839097124932,
 0.5219839097124932]

### Input x Weight (Bobot)

In [23]:
def input_kali_bobot(baris_narray, bobot):
    multiply = 0
    for i,value in enumerate(baris_narray):
        multiply += bobot[i] * value
    return multiply

### Tambah bias

In [24]:
#langsung tambah bisa, atau kalo mau modular bikin fungsi
def tambah_bias(jumlah_kali, bias):
    return jumlah_kali + bias

### Fungsi Aktivasi

In [25]:
#Hardlimit
def hardlimit_act(x):
    if x >= 0 :
        f = 1
    else :
        f = 0
    return f

#Sigmoid
def sigmoid_act(x, der=False):
    import numpy as np
    
    if (der==True) : #turunan sigmoid
        f = x/(1-x)
    else : #sigmoid
        f = 1/(1+ np.exp(-x))
    
    return f

#ReLU
def ReLU_act(x, der=False):
    import numpy as np
    
    if (der== True):
        if x>0 :
            f = 1
        else :
            f = 0
    else :
        if x>0:
            f = x
        else :
            f = 0
            
    return f

### Callback

In [47]:
def callback_ori(akurasi, goals=70):
    if akurasi > goals :
        return True
    else :
        return False

## Proses Pembelajaran

**DeltaBobot_baru = Kecepatan_belajar * Input * (Target - Output)**
<br>
**Bobot_iter_berikutnya = Bobot_lama + DeltaBobot_baru**

Kecepatan Belajar atau Learning Rate (0<n=<1) <br>

**DeltaBias_baru = Kecepatan_belajar * (Target-Output)**
<br>
**Biar_iter_berikutnya = Bias_lama + DeltaBias_baru**

In [26]:
def perbaiki_bobot_bias(baris_narray, bobot_lama, bias_lama, nilai_target, nilai_prediksi, kec_belajar):
    bobot_baru = bobot_lama
    bias_baru = bias_lama
    for i, value in enumerate(baris_narray):
        bobot_baru[i] += kec_belajar * value * (nilai_target-nilai_prediksi)
    bias_baru += kec_belajar * (nilai_target-nilai_prediksi)
    return bobot_baru, bias_baru

### Fungsi Perceptron untuk Training
Parameter Input :
* feature : DataFrame
* target : DataFrame
* maxEpoch : int
* learnRate : int

In [74]:
import random

def perceptron_train(features, target, maxEpoch, learnRate=0.1):
    #deklarasi variabel awal
    b = 1 #bias
    baris = features.shape[0] #jumlah baris data
    kolom = features.shape[1] #jumlah kolom data
    random.seed(17)
    weight = [random.random()] * kolom #weight untuk setiap feature
    y_predict = [0] * baris #hasil prediksi untuk setiap baris
    multiply = 0 #penampung hasil perkalian nilai feature dengan weight
    epoch = 0 #nilai epoch
    
    #deklarasi variabel bias dan weight terbaik
    best_b = 1
    best_weight = [0] * kolom
    best_predict = [0] * baris
    lowest_error = np.inf
    
    #Looping untuk setiap barisnya
    while(epoch < maxEpoch):
        error_per_epoch = 0 #jumlah error pada satu epoch
        for index,row in features.iterrows():
            #multiply diisi hasil dari fungsi input_kali_bobot
            multiply = input_kali_bobot(row, weight)

            #tambah bias
            Y_in = b + multiply
            
            #fungsi aktivasi
            #y_predict[index] = hardlimit_act(Y_in)
            y_predict[index] = ReLU_act(Y_in, True)

            if(y_predict[index] != target.iloc[index,0]):
                #jika terdapat perbedaan hasil prediksi dengan target asli, perbaiki weight dan bias
                weight, b = perbaiki_bobot_bias(row, weight, b,
                                                target.iloc[index,0],
                                                y_predict[index],
                                                learnRate)
                
                error_per_epoch += 1 #tambahkan jumlah error
                
            if(index==baris-1): #jika seluruh baris telah dihitung, tambahkan nilai epoch
                epoch += 1
                
        if(error_per_epoch < lowest_error): #penyimpanan nilai bias, weight, hasil prediksi, dan error terbaik
            best_b = b
            best_weight = weight.copy()
            best_predict = y_predict.copy()
            best_epoch = epoch
            lowest_error = error_per_epoch
        
        #print akurasi setiap epochnya
        akurasi = round(1-error_per_epoch/baris,3)*100
        print("Accuracy Epoch Ke ",epoch," : ",str(akurasi)[0:4],"%")
        
        if callback_ori(akurasi,72.5) : break
    return best_weight, best_b, best_predict, best_epoch

# Training

### Memulai Training

In [59]:
model_weight, model_bias, model_predict, model_epoch = perceptron_train(features,target, 50, 0.1)

Accuracy Epoch Ke  1  :  68.8 %
Accuracy Epoch Ke  2  :  70.8 %
Accuracy Epoch Ke  3  :  71.5 %
Accuracy Epoch Ke  4  :  72.3 %
Accuracy Epoch Ke  5  :  71.6 %
Accuracy Epoch Ke  6  :  71.7 %
Accuracy Epoch Ke  7  :  72.8 %
Accuracy Epoch Ke  8  :  73.0 %
Accuracy Epoch Ke  9  :  71.8 %
Accuracy Epoch Ke  10  :  72.3 %
Accuracy Epoch Ke  11  :  72.5 %
Accuracy Epoch Ke  12  :  71.8 %
Accuracy Epoch Ke  13  :  71.3 %
Accuracy Epoch Ke  14  :  72.3 %
Accuracy Epoch Ke  15  :  71.3 %
Accuracy Epoch Ke  16  :  71.0 %
Accuracy Epoch Ke  17  :  71.6 %
Accuracy Epoch Ke  18  :  72.6 %
Accuracy Epoch Ke  19  :  70.5 %
Accuracy Epoch Ke  20  :  71.8 %
Accuracy Epoch Ke  21  :  71.8 %
Accuracy Epoch Ke  22  :  71.7 %
Accuracy Epoch Ke  23  :  71.8 %
Accuracy Epoch Ke  24  :  70.5 %
Accuracy Epoch Ke  25  :  72.1 %
Accuracy Epoch Ke  26  :  71.8 %
Accuracy Epoch Ke  27  :  71.8 %
Accuracy Epoch Ke  28  :  71.3 %
Accuracy Epoch Ke  29  :  71.8 %
Accuracy Epoch Ke  30  :  71.3 %
Accuracy Epoch Ke  31  :  71.6 %
Accuracy Epoch Ke  32  :  70.7 %
Accuracy Epoch Ke  33  :  71.5 %
Accuracy Epoch Ke  34  :  71.5 %
Accuracy Epoch Ke  35  :  70.5 %
Accuracy Epoch Ke  36  :  73.3 %

In [75]:
model_weight_train, model_bias_train, model_predict_train, model_epoch_train = perceptron_train(X_train,y_train, 50, 0.1)

Accuracy Epoch Ke  1  :  68.8 %
Accuracy Epoch Ke  2  :  71.5 %
Accuracy Epoch Ke  3  :  70.8 %
Accuracy Epoch Ke  4  :  71.5 %
Accuracy Epoch Ke  5  :  71.8 %
Accuracy Epoch Ke  6  :  72.1 %
Accuracy Epoch Ke  7  :  70.8 %
Accuracy Epoch Ke  8  :  70.6 %
Accuracy Epoch Ke  9  :  72.5 %
Accuracy Epoch Ke  10  :  71.2 %
Accuracy Epoch Ke  11  :  71.5 %
Accuracy Epoch Ke  12  :  70.8 %
Accuracy Epoch Ke  13  :  71.6 %
Accuracy Epoch Ke  14  :  72.8 %

### Hasil Training
Didapat nilai bobot dan bias terbaik pada salah satu epoch, nantinya dimasukan ke program

In [31]:
model_weight, model_bias, model_epoch

([-0.7780160902875188,
  2.221983909712494,
  -0.5780160902874948,
  -0.1780160902874953,
  0.6219839097124882],
 0.6000000000000001,
 36)

# Prediction

### Prediction DataFrame

In [32]:
def perceptron_predict(features, weight, b):
    #deklarasi variabel awal
    y_predict = [0] * features.shape[0] #hasil prediksi untuk setiap baris
    multiply = 0 #penampung hasil perkalian nilai feature dengan weight
    
    for index,row in features.iterrows():
        #multiply diisi hasil dari fungsi input_kali_bobot
        multiply = input_kali_bobot(row, weight)

        #jumlahkan hasil perkalian dengan bias
        Y_in = b + multiply 
        
        #fungsi aktivasi
        y_predict[index] = hardlimit_act(Y_in)
        
    return y_predict

### Prediction Single List

In [53]:
def single_predict_titanic(list_val, weight, bias):
    multiply = []
    for i in range(0,len(list_val)) :
        multiply.append(weight[i] * list_val[i])
        Y_in = bias + sum(multiply)
        y_predict = hardlimit_act(Y_in)
    return y_predict

### Membuat Prediction DataFrame (data test titanic)

In [76]:
target_test = perceptron_predict(X_test, model_weight, model_bias)
pred_test = pd.DataFrame(target_test)
pred_test.head()

   0
0  1
1  0
2  0
3  0
4  0

In [65]:
target.head()

   Survived
0         0
1         1
2         1
3         1
4         0

### Membuat Prediksi dengan single data (input list)
Bagian ini juga dibuat dalam bentuk format script (Program). File berjudul "ProgramPrediksiSurvivalTitanicDisaster_InputSingleList.py"

In [54]:
print("=====Beli Ticket=====")
kelas = int(input("Kelas Sosial-Ekonomi (Up=1,Mid=2,Low=3) : "))
jk = int(input("Jenis Kelamin (pria=0, wanita=1): "))
uk_rom = int(input("Jumlah Rombongan Keberangkatan : "))
usia = int(input("Usia : "))
tarif = int(input("Jumlah Uang yang bersedia dikeluarkan (USD): "))
print("====Terima Kasih!====")

#Kel_Usia
if usia<=20 :
  kel_usia = 0
elif usia<=26 :
  kel_usia = 1
elif usia<=30 :
  kel_usia = 2
elif usia<=38 :
  kel_usia = 3
else :
  kel_usia = 4

#Kel_tf
if tarif<8 :
  kel_tf = 0
elif tarif<11 :
  kel_tf = 1
elif tarif<22 :
  kel_tf = 2
elif tarif<40 :
  kel_tf = 3
else :
  kel_tf = 4

#Prediksi
print(" ")
print("=====Titanic Disaster====")
print("Prediksi nasibmu :")

pred_list = [kelas,jk,uk_rom,kel_usia,kel_tf]
targetku = single_predict_titanic(pred_list, model_weight, model_bias)
if targetku==1 :
  print('Selamat, kemungkinan besar kamu Survive!')
else :
  print('Hati-hati, kemungkinan besar kamu Tidak bisa Survive!')

=====Beli Ticket=====
Kelas Sosial-Ekonomi (Up=1,Mid=2,Low=3) : 3
Jenis Kelamin (pria=0, wanita=1): 0
Jumlah Rombongan Keberangkatan : 3
Usia : 34
Jumlah Uang yang bersedia dikeluarkan (USD): 25
====Terima Kasih!====

=====Titanic Disaster====
Prediksi nasibmu :
Hati-hati, kemungkinan besar kamu Tidak bisa Survive!

# <center> SELESAI

### Evaluasi Akurasi hasil Prediksi data Test Titanic

In [77]:
#Skor Akurasi
from sklearn.metrics import accuracy_score
print("Accuracy Score : " + str(accuracy_score(y_test, pred_test)))

Accuracy Score : 0.7597765363128491

In [78]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(y_test, pred_test))

[[92 19]
 [24 44]]

# Catatan Lain

## Choose Model

### SVM

In [7]:
from sklearn.svm import SVC
svc = SVC(kernel='linear')

In [11]:
from sklearn.metrics import accuracy_score
svc.fit(X_train, y_train)
y_pred = svc.predict(X_test)
accuracy_score(y_test, y_pred)

0.7541899441340782

### ANN

In [23]:
from keras.layers import Dense

In [30]:
from keras.models import Sequential
mod = Sequential([
    Dense(12, input_dim=5, activation='relu'),
    Dense(8, activation='relu'),
    Dense(1, activation='sigmoid')
])
mod.compile(optimizer='adam',
            loss='binary_crossentropy',
            metrics=['accuracy'])
mod.fit(X_train, y_train, epochs=10, batch_size=12,
       validation_data=(X_test, y_test))

Epoch 1/10
60/60 [==============================] - 0s 7ms/step - loss: 0.6501 - accuracy: 0.6334 - val_loss: 0.6190 - val_accuracy: 0.6536
Epoch 2/10
60/60 [==============================] - 0s 3ms/step - loss: 0.6015 - accuracy: 0.6910 - val_loss: 0.5971 - val_accuracy: 0.6592
Epoch 3/10
60/60 [==============================] - 0s 2ms/step - loss: 0.5719 - accuracy: 0.7219 - val_loss: 0.5819 - val_accuracy: 0.7039
Epoch 4/10
60/60 [==============================] - 0s 2ms/step - loss: 0.5505 - accuracy: 0.7416 - val_loss: 0.5694 - val_accuracy: 0.7207
Epoch 5/10
60/60 [==============================] - 0s 3ms/step - loss: 0.5328 - accuracy: 0.7542 - val_loss: 0.5616 - val_accuracy: 0.7207
Epoch 6/10
60/60 [==============================] - 0s 2ms/step - loss: 0.5155 - accuracy: 0.7626 - val_loss: 0.5536 - val_accuracy: 0.7207
Epoch 7/10
60/60 [==============================] - 0s 2ms/step - loss: 0.4986 - accuracy: 0.7669 - val_loss: 0.5479 - val_accuracy: 0.7430
Epoch 8/10
60/60 [==============================] - 0s 2ms/step - loss: 0.4830 - accuracy: 0.7739 - val_loss: 0.5390 - val_accuracy: 0.7430
Epoch 9/10
60/60 [==============================] - 0s 2ms/step - loss: 0.4686 - accuracy: 0.7781 - val_loss: 0.5304 - val_accuracy: 0.7430
Epoch 10/10
60/60 [==============================] - 0s 2ms/step - loss: 0.4595 - accuracy: 0.7753 - val_loss: 0.5288 - val_accuracy: 0.7430